@{
    ViewBag.Title = "UpdatePassWord";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="right" id="mainFrame">
    <div class="right_cont">
        <ul class="breadcrumb">
            当前位置：
            <a href="#">首页</a>
            <span class="divider">/</span>修改密码
        </ul>
        <div class="title_right"><strong>修改密码</strong></div>
        <div style="width:900px; margin:auto">
            @using (Html.BeginForm("UpdatePassWord", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                <table class="table table-bordered">
                    <tr>
                        <td width="12%" align="right" nowrap="nowrap" bgcolor="#f1f1f1">新密码：</td>
                        <td width="38%">
                            <input type="text" name="password1" class="span1-1" />
                    </tr>
                    <tr>
                        <td align="right" nowrap="nowrap" bgcolor="#f1f1f1">确认新密码：</td>
                        <td>
                            <input type="text" name="password2" class="span1-1" />
                        </td>
                    </tr>
                </table>
                <table class="margin-bottom-20 table  no-border">
                    <tr>
                        <td class="text-center">
                            <input type="submit" value="确定" class="btn btn-info " style="width:80px;" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
